body {
  background: #ffc736;
}
.animal-picture {
  /* border: solid 2px black; */
  margin-top: 5%;
  margin-left: 8%;
}
.container img {
  width: 300px;
  height: 250px;
}
.volume-button {
  /* border: solid 2px black; */
  margin-top: 10%;
  position: absolute;
  margin-left: 25%;
}
.button-container {
  margin: 100px;
}
#prev-button {
  float: left;
}
#next-button {
  float: right;
}
@media screen and (max-width: 900px) {
  .volume-button {
    display: block;
  }
  .container img {
    margin-left: 34%;
    width: 200px;
    height: 200px;
  }
  .button-container {
    margin-top: 300px;
  }
}
@media screen and (max-width: 570px) {
  .container img {
    margin-left: 25%;
  }
}
