body {
  background: #ffc736;
}
.animal-picture {
  /* border: solid 2px black; */
  margin-top: 5%;
  margin-left: 8%;
}
.container img {
  width: 250px;
  height: 250px;
}
.image-container {
  margin-top: 10%;
  margin-left: 20%;
  display: inline-block;
}
.image-container p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: xx-large;
  margin-left: 45%;
}
.volume-button {
  /* border: solid 2px black; */
  margin-top: 10%;
  position: absolute;
  margin-left: 25%;
}
.button-container {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
}
#prev-button {
  float: left;
}
#next-button {
  float: right;
}
.navigation-buttons {
  width: 120px;
}
@media screen and (max-width: 1040px) {
  .volume-button {
    display: block;
  }
  .container img {
    margin-left: 34%;
    width: 180px;
    height: 180px;
  }
  .button-container {
    margin-top: 300px;
  }
  .navigation-buttons {
    width: 80px;
  }
}
@media screen and (max-width: 570px) {
  .container img {
    margin-left: 30%;
  }
  .container img {
    width: 150px;
    height: 150px;
  }
}
